@tailwind base;
@tailwind components;
@tailwind utilities;

th {
    position: relative;
}

th[data-sortable="true"] {
    cursor: default !important;
}
  
th svg {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, translateY 0.2s ease-in-out;
    cursor: pointer;
}

th svg[data-direction="ascending"] {
    top: 40%;
    transform: translateY(-40%);
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, translateY 0.2s ease-in-out;
    cursor: pointer;
}

th svg[data-direction="descending"] {
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out, translateY 0.2s ease-in-out;
    cursor: pointer;
}